@model site.Models.ChangePasswordModel

@{
    ViewBag.Title = @Resources.Account.ChangePassword.changePw;
}

  
    <input id="rootUrl" type="hidden" value="@HttpContext.Current.Request.Url" />
    <center>
    <h2 class="bodyShdwTxt">@Resources.Account.ChangePassword.changePw</h2>
    @if (this.Model.PwExpired)
    {        
        <div class="ui-widget" style="width:354px; margin:10px;">
	        <div style="padding: 4px .7em;" class="ui-state-highlight ui-corner-all"> 
		        <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span>
                    @Resources.Account.ChangePassword.pwExpired				
	        </div>
        </div>
    }
    else if (this.Model.DefaultPw)
    {
        <div class="ui-widget" style="width:354px; margin:10px;">
	        <div style="padding: 4px .7em;" class="ui-state-highlight ui-corner-all"> 
		        <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span>
                    @Resources.Account.ChangePassword.defaultPw				
	        </div>
        </div>
    }
    <div class="ui-widget" id="changeSuccess" style="display:none; width:354px; margin-bottom:10px;">
	    <div style="padding: 4px .7em; margin-bottom:20px" class="ui-state-highlight ui-corner-all"> 
		    <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span>
                @Resources.Account.ChangePassword.success				
	    </div>
        <button class="blue" onclick="@Href("~/Home")" >@Resources.Account.ChangePassword.continueToHome</button>
    </div>
    <div class="ui-widget" id="error" style="display:none; width:354px; margin-bottom:10px;">
        <div style="padding: 4px .7em;" class="ui-state-error ui-corner-all"> 
	        <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span> 
	            <span style="clear:both">@Resources.Account.ChangePassword.unsuccessful </span>        
                <div id="errMsg" style="margin-top: 8px; text-align:center"></div>
        </div>
    </div>
    <div class="ui-widget" id="pwDontMatch" style="display:none; width:354px; margin-bottom:10px;">
        <div style="padding: 4px .7em;" class="ui-state-error ui-corner-all"> 
	        <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span> 
	            <span style="clear:both">@Resources.Account.ChangePassword.passwordsDontMatch </span>  
        </div>
    </div>
     <span style="color:red">@Html.ValidationSummary(true, Resources.Account.ChangePassword.unsuccessful)</span>
    <table>
        <tr>
            <td align="right">
                    @Resources.Account.ChangePassword.currentPw
            </td>
            <td>
                <input id="currPw" type="password" />
            </td>
        </tr>
        <tr>
            <td align="right">
                @Resources.Account.ChangePassword.newPw
            </td>
            <td>
                <input id="newPw1" type="password" />
            </td>
        </tr>
        <tr>
            <td align="right">
                @Resources.Account.ChangePassword.confirmPw 
            </td>
            <td>
                <input id="newPw2" type="password" />
            </td>
        </tr>   
        <tr>
            <td></td>
            <td><button class="blue" onclick="javascript:$account.changePw('@Href("~/Home")')"  >@Resources.Account.ChangePassword.changePw</button></td>
        </tr>  
    </table>
    </center>
<script type="text/javascript" src='@Url.Content("~/Scripts/account.js")'></script>
